body {
  background: #000;
  color: #eee;

  #preview {
    display: none;
  }

  #video {
    border: 1px dashed #555;
    width:680px;
    height:320px;
  }
  
  #play {
    border: 1px dashed #555;
    width:680px;
    // height:320px;
  }
}
